<div class="product-page">
  <h1>{{ product.title }}</h1>
  <p>Precio: {{ product.price | money }}</p>
  {% if product.featured_image %}
  <img 
    src="{{ product.featured_image | image_url: 'large' }}" 
    alt="{{ product.title }}" 
    width="{{ product.featured_image.width }}" 
    height="{{ product.featured_image.height }}">
{% else %}
  <img 
    src="https://cdn.shopify.com/s/files/1/0869/5041/2472/files/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.webp?v=1736438657/400" 
    alt="Imagen no disponible" 
    width="400" 
    height="400">
{% endif %}

  {% if product.available %}
    <p>¡Disponible ahora! Compra antes de que se agote.</p>
  {% else %}
    <p>Lo sentimos, este producto está agotado.</p>
  {% endif %}

  <h2>Descripción</h2>
  <p>{{ product.description }}</p>

  <h3>Productos relacionados</h3>
  <ul>
    {% for related_product in collection.products %}
      {% if related_product.id != product.id %}
        <li>
          <a href="{{ related_product.url }}">{{ related_product.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
